<h1><%= @user.name %></h1>
<%= link_to 'Edit', edit_user_path(@user) %>

<p><%= link_to 'Delete', @user, method: 'delete', data: { confirm: 'Are you sure?' }%></p>
<p><%= link_to 'Go back to all users', users_path %></p>
